@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 390px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Montserrat", sans-serif;
}

input:focus {
  outline: none;
}

input {
  outline: none;
}

input[type="radio"] {
  accent-color: #ea7141;
}

/* Chrome, Safari, Edge, Opera */
input:not(.required__spin__btn)::-webkit-outer-spin-button,
input:not(.required__spin__btn)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.required__spin__btn::-webkit-outer-spin-button,
.required__spin__btn::-webkit-inner-spin-button {
  opacity: 1;
  /* Ensure arrows are always visible */
}

/* Firefox */
input:not(.required__spin__btn)[type="number"] {
  -moz-appearance: textfield;
}

.taste_section .swiper-pagination-bullet {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.taste_section .swiper-pagination-bullet-active {
  background-color: #f33f41;
}

.Social_media_section .swiper-pagination-bullet {
  background-color: #949494;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.Social_media_section .swiper-pagination-bullet-active {
  background-color: #f33f41;
}

.Our_Partner_section .swiper-pagination-bullet {
  background-color: #949494;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Our_Partner_section .swiper-pagination-bullet-active {
  background-color: #f33f41;
}

.Testimonials__section .swiper {
  padding-top: 20px;
}

/* .Testimonials__section .swiper-wrapper{
  padding-bottom: 5px;
  border-bottom:1px dashed gray ;
} */

.Testimonials__section .swiper-pagination-bullet {
  background-color: #949494;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Testimonials__section .swiper-pagination-bullet-active {
  background-color: #f33f41;
}

/* ***************** Roboto Font ********************** */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px !important;
  background: #ffffff;
  border-radius: 0 20px 20px 0 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #e84a4a 0%, #f1833f 100%);
  border-radius: 10px;
  height: 20px !important;
}

/* Handle on hover */

.gradient_text {
  background: linear-gradient(180deg, #e84a4a 0%, #f1833f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Ensures gradient applies correctly to the text */
}
